## Create charts showing demographics of middle TN

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
#import NDC deliveries csv and skip rows at the end
county_stats = pd.read_csv('../data/Nash Diaper Stastistics - Population Breakdown by County.csv',
                  skipfooter = 12,  
                  engine = 'python')
county_stats.head()

,County,Total Population 1,Population Age 0-4,Population Age 5-9,Population Age 0-9,# Households,# Live Births,Est # in Diapers 5,Est. TennCare 4,Preschool,Kindergarten,1st Grade,2nd Grade,5th Grade,6th Grade,Household Income (Avg) 2,% of Title 1 Schools,Food Stamp % 3,Poverty Rate 0-17 2,Poverty Rate All Ages 2
0,Davidson,"667,885","46,539","41,537","88,076","269,078","9,962","24,905","12,453","9,286","8,250","7,992","8,041","7,400","7,333","$56,507",63.42%,14.60%,25.40%,15.40%
1,Williamson,"205,645","12,451","16,755","29,206","71,043","2,321","5,803","2,901","5,136","3,210","3,533","3,041","3,895","3,273","$109,026",17.74%,3.40%,3.50%,3.80%
2,Montgomery,"189,709","16,476","14,404","30,880","67,090","3,512","8,780","4,390","3,041","3,112","2,823","2,654","2,876","2,348","$55,972",61.70%,13.20%,16.60%,12.00%
3,Maury,"85,767","5,730","6,077","11,807","32,889","1,184","2,960","1,480","1,263","1,124","1,366","1,265",926,"1,082","$54,249",64.20%,16.40%,15.20%,10.80%
4,Hickman,"24,251","1,291","1,553","2,844","8,855",257,643,321,257,269,282,326,218,367,"$41,998",88.89%,22.70%,24.20%,16.30%

In [3]:
#rename columns
county_stats = county_stats.rename(columns = {'Total Population 1':'Total Population',
                                              'Est # in Diapers 5':'Est # in Diapers',
                                              'Est. TennCare 4':'Est. TennCare',
                                              'Household Income (Avg) 2':'Household Income (Avg)',
                                              '% of Title 1 Schools':'% Title 1 Schools',
                                              'Food Stamp % 3':'% Food Stamp',
                                              'Poverty Rate 0-17 2':'% Poverty Rate 0-17',
                                              'Poverty Rate All Ages 2':'% Poverty Rate All Ages'
                                             })
county_stats.columns

Index(['County', 'Total Population', 'Population Age 0-4',
       'Population Age 5-9', 'Population Age 0-9', '# Households',
       '# Live Births', 'Est # in Diapers', 'Est. TennCare', 'Preschool',
       'Kindergarten', '1st Grade', '2nd Grade', '5th Grade', '6th Grade',
       'Household Income (Avg)', '% Title 1 Schools', '% Food Stamp',
       '% Poverty Rate 0-17', '% Poverty Rate All Ages'],
      dtype='object')

In [4]:
#strip % from certain columns
county_stats['% Title 1 Schools'] = county_stats['% Title 1 Schools'].str.rstrip('%')
county_stats['% Food Stamp'] = county_stats['% Food Stamp'].str.rstrip('%')
county_stats['% Poverty Rate 0-17'] = county_stats['% Poverty Rate 0-17'].str.rstrip('%')
county_stats['% Poverty Rate All Ages'] = county_stats['% Poverty Rate All Ages'].str.rstrip('%')
county_stats.head()

,County,Total Population,Population Age 0-4,Population Age 5-9,Population Age 0-9,# Households,# Live Births,Est # in Diapers,Est. TennCare,Preschool,Kindergarten,1st Grade,2nd Grade,5th Grade,6th Grade,Household Income (Avg),% Title 1 Schools,% Food Stamp,% Poverty Rate 0-17,% Poverty Rate All Ages
0,Davidson,"667,885","46,539","41,537","88,076","269,078","9,962","24,905","12,453","9,286","8,250","7,992","8,041","7,400","7,333","$56,507",63.42,14.60,25.40,15.40
1,Williamson,"205,645","12,451","16,755","29,206","71,043","2,321","5,803","2,901","5,136","3,210","3,533","3,041","3,895","3,273","$109,026",17.74,3.40,3.50,3.80
2,Montgomery,"189,709","16,476","14,404","30,880","67,090","3,512","8,780","4,390","3,041","3,112","2,823","2,654","2,876","2,348","$55,972",61.70,13.20,16.60,12.00
3,Maury,"85,767","5,730","6,077","11,807","32,889","1,184","2,960","1,480","1,263","1,124","1,366","1,265",926,"1,082","$54,249",64.20,16.40,15.20,10.80
4,Hickman,"24,251","1,291","1,553","2,844","8,855",257,643,321,257,269,282,326,218,367,"$41,998",88.89,22.70,24.20,16.30

In [5]:
#export to csv
#county_stats.to_csv('../files/county_stats.csv', index = False)

In [ ]:
#create grouped bar chart showing poverty in counties
tn_poverty = sns.load_dataset("county_stats")

# Draw a nested barplot by species and sex
g = sns.catplot(
    data=county_stats, kind="bar",
    x="County", y="body_mass_g", hue="sex",
    ci="sd", palette="dark", alpha=.6, height=6
)
g.despine(left=True)
g.set_axis_labels("", "Body mass (g)")
g.legend.set_title("")